.bg-gradient {
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
}

.bg-blue-gradient {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-orange-gradient {
  background: linear-gradient(45deg,#ffb64d,#ffcb80);
}
.bg-green-gradient {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-red-gradient {
  background: linear-gradient(45deg,#ff5370,#ff869a);
}