/*
 * Constant default for css
 *
 * @author: Ken vo <hungvt.itdng@gmail.com>
 * @version: 1.0
 */
 $colorBlue: #1890ff;
 $colorGreen: #52c41a;
 $colorGreenBold: #00a65a;
 $colorOrange: #faad14;
 $colorOrangeBold: #fa8c16;
 $colorRed: #f5222d; /* #fa5838 */
 $colorCyan: #13c2c2;
 $colorMagenta: #eb2f96;
 $colorBlack: #333333;
 $colorWhite: white;
 $colorGray: gray;
 $colorGrayLight: #ccc;

 $mainColor: #1890ff;
 $textColor: #333333;
