/*
 * Constant default for css
 *
 * @author: Ken vo <hungvt.itdng@gmail.com>
 * @version: 1.0
 */
$colorBlue: #1890ff;
$colorGreen: #52c41a;
$colorOrange: #faad14;
$colorRed: #fa5838;
$colorCyan: #13c2c2;
$colorBlack: #cfbabad9;
$colorWhite: white;
$colorGray: gray;

$mainColor: #1890ff;
$textColor: #00000080;