/*
 * Constant default for css
 *
 * @author: Ken vo <hungvt.itdng@gmail.com>
 * @version: 1.0
 */
$colorPrimary: #1890ff;
$colorSuccess: #52c41a;
$colorWarning: #faad14;
$colorDanger: #fa5838;
$colorInfo: #13c2c2;
$colorDark: #cfbabad9;
$colorWhite: white;
$colorMuted: gray;

$mainColor: #1890ff;
$textColor: #00000080;